﻿@using dekadowki.poburski.pl.Models
@model GodzinyViewModel
@{
    ViewBag.Title = "GodzinySprzetu";
    Layout = "~/Views/Shared/_LayoutFull.cshtml";

    string data = ViewBag.Data;
    List<lata> dni = (List<lata>)ViewBag.Dni;
    int pracownik = Convert.ToInt32(ViewBag.Pracownik);
    dekadowki_godziny podsumowanie = (dekadowki_godziny)ViewBag.Podsumowanie;
    int edit = Convert.ToInt32(ViewBag.Edycja);
    var budowy = (List<Budowa>)ViewBag.Budowy;
    var akord = (List<akord_godziny>)ViewBag.Akord;
    var width = "100";
}

<style>
    b {
        text-transform: uppercase;
    }

    table th, table td {
        padding: 10px; /* Apply cell padding */
    }
</style>

<h2>Wypełnij pola i zatwierdź</h2>

<h3>Data:</h3>
<form action="/Godziny/GodzinySprzetu">
    <table border="0" style="min-width: 50%;">
        <tr>
            <td>
                <div class="input-group date" style="display:flex;">
                    <input type="text" class="form-control" required value="@data" name="data"><span class="input-group-addon" style="min-width: 25%;"><i class="glyphicon glyphicon-calendar"></i></span>
                </div>
            </td>
            <td align="left">
                <input type="submit" value="Zmień" class="btn btn-primary" />
            </td>
        </tr>
    </table>
</form>
<hr />
@using (Html.BeginForm("DodajGodziny", "Godziny", FormMethod.Post))
{
    <input type="submit" value="Zapisz i wyślij" class="btn btn-primary" />
    @Html.AntiForgeryToken()
    <br />
    <br />
    <table border="1">
        <tr>
            <td align="center"><b>Data</b></td>
            <td align="center"><b>Budowa</b></td>
            <td colspan="2" align="center"><b>Godziny</b></td>
            <td align="center"><b>Powierz- chnia - m2</b></td>
            <td align="center"><b>Połącze- nia - mb</b></td>
            <td align="center"><b>Wpusty, przejścia - sztuka</b></td>
            <td align="center"><b>Dźwig - godz</b></td>
            <td align="center"><b>Manitou - godz</b></td>
            <td align="center"><b>Kat - godz</b></td>
            <td align="center"  width="200"><b>Uwagi</b></td>
        </tr>
        <tbody>
            <tr style="background-color: #00B273;">
                <td colspan="2" align="center"><b>Całość</b></td>
                <td align="center" width="@width" valign="bottom"><b>Poburski</b> - godziny <input type="number" value="@podsumowanie.godziny_poburski" step="0.01" min="0" name="podsumowanieGodzinyPoburski" readonly class="form-control" /></td>
                <td align="center" width="@width"><b>Podwyko-nawcy</b> - godziny <input type="number" value="@podsumowanie.godziny_podwykonawcy" step="0.01" min="0" name="podsumowanieGodzinyPodwykonawcy" readonly class="form-control" /></td>
                <td valign="bottom" width="@width"><input type="number" value="@podsumowanie.powierzchnia" step="0.01" min="0" name="podsumowaniePowierzchnia" readonly class="form-control" /></td>
                <td valign="bottom" width="@width"><input type="number" value="@podsumowanie.polaczenia" step="0.01" min="0" name="podsumowaniePolaczenia" readonly class="form-control" /></td>
                <td valign="bottom" width="@width"><input type="number" value="@podsumowanie.przejscia" step="0.01" min="0" name="podsumowaniePrzejscia" readonly class="form-control" /></td>
                <td valign="bottom" width="@width"><input type="number" value="@podsumowanie.dzwig" step="0.01" min="0" name="podsumowanieDzwig" readonly class="form-control" /></td>
                <td valign="bottom" width="@width"><input type="number" value="@podsumowanie.manitou" step="0.01" min="0" name="podsumowanieManitou" readonly class="form-control" /></td>
                <td valign="bottom" width="@width"><input type="number" value="@podsumowanie.kat" step="0.01" min="0" name="podsumowanieKat" readonly class="form-control" /></td>
                <td></td>
            </tr>
            @for (int i = 0; i < dni.Count; i++)
            {
                var color = dni[i].dzien_tygodnia > 5 ? "#00B273" : "white";
                color = dni[i].data.Value.ToString("dd-MM-yyyy") == DateTime.Now.ToString("dd-MM-yyyy") ? "#FFAE19" : color;
                <tr style="background-color: @string.Format("{0}", color)">
                    <td nowrap align="center">
                        <b>@dni[i].data.Value.ToString("dd-MM-yyyy")</b>
                        <br />
                        @Help.GetDzienTygodnia(Convert.ToInt32(dni[i].dzien_tygodnia))
                        @Html.Hidden(string.Format("dni[{0}].data", i), dni[i].data.Value.ToString("dd-MM-yyyy"))
                        @Html.Hidden(string.Format("dni[{0}].idpracownika", i), pracownik)
                    </td>
                    <td valign="middle" align="center">
                        <select name="@string.Format("dni[{0}].idbudowy", i)" class="form-control">
                            <option value="0">Wybierz budowę</option>
                            @foreach (var b in budowy)
                            {
                                if (akord.Where(a => a.Data == dni[i].data && a.idbudowy == b.Id).Any() && Model.dni[i].idbudowy == null)
                                {
                                    <option selected value="@b.Id">@string.Format("{0}", b.Nazwa)</option>
                                }
                                else if (Model.dni[i].idbudowy == b.Id)
                                {
                                    <option selected value="@b.Id">@string.Format("{0}", b.Nazwa)</option>
                                }
                                else
                                {
                                    <option value="@b.Id">@string.Format("{0}", b.Nazwa)</option>
                                }
                            }
                        </select>
                    </td>
                    <td valign="middle" align="center">
                        @Html.TextBoxFor(m => m.dni[i].godziny_poburski, new { @class = "form-control", min = "0", step = "0.01", type = "number" })
                    </td>
                    <td valign="middle" align="center">
                        @Html.TextBoxFor(m => m.dni[i].godziny_podwykonawcy, new { @class = "form-control", min = "0", step = "0.01", type = "number" })
                    </td>
                    <td valign="middle">
                        @Html.TextBoxFor(m => m.dni[i].powierzchnia, new { @class = "form-control", min = "0", step = "0.01", type = "number" })
                    </td>
                    <td valign="middle">
                        @Html.TextBoxFor(m => m.dni[i].polaczenia, new { @class = "form-control", min = "0", step = "0.01", type = "number" })
                    </td>
                    <td valign="middle">
                        @Html.TextBoxFor(m => m.dni[i].przejscia, new { @class = "form-control", min = "0", step = "0.01", type = "number" })
                    </td>
                    <td valign="middle">
                        @Html.TextBoxFor(m => m.dni[i].dzwig, new { @class = "form-control", min = "0", step = "0.01", type = "number" })
                    </td>
                    <td valign="middle">
                        @Html.TextBoxFor(m => m.dni[i].manitou, new { @class = "form-control", min = "0", step = "0.01", type = "number" })
                    </td>
                    <td valign="middle">
                        @Html.TextBoxFor(m => m.dni[i].kat, new { @class = "form-control", min = "0", step = "0.01", type = "number" })
                    </td>
                    <td valign="middle">
                        @Html.TextAreaFor(m => m.dni[i].uwagi, new { @class = "form-control", col = "50" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br />
    <br />
    <input type="hidden" name="edycja" value="@edit" />
    <input type="hidden" name="pracownik" value="@pracownik" />
    <input type="submit" value="Zapisz i wyślij" class="btn btn-primary" />
}

<script>
    $('.input-group.date').datepicker({
        format: "mm-yyyy",
        startView: 1,
        minViewMode: 1,
        maxViewMode: 2,
        todayBtn: "linked",
        language: "pl",
        autoclose: true,
        todayHighlight: true
    });
</script>
