﻿@model IEnumerable<dekadowki.poburski.pl.Models.Tydzien>
@using dekadowki.poburski.pl.Models

@{
    ViewBag.Title = "Odblokuj lub zablokuj tydzień";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<int> lata = (List<int>)ViewBag.Lata;
}

<h2>Odblokuj lub zablokuj tydzień</h2>

@using (Html.BeginForm("Blockade", "Home", FormMethod.Post))
{
    <div class="form-group">
        <label for="answerInput">Zmień rok: </label>
        <select name="year" id="year" class="form-control">
            @foreach (var rok in lata)
            {
                if (DateTime.Now.Year != rok)
                {
                    <option value="@rok">@rok</option>
                }
                else
                {
                    <option value="@rok" selected>@rok</option>
                }
            }
        </select>
    </div>
    <input type="submit" value="Przejdź" class="btn btn-primary" />
}
<hr />
<h4>Odblokuj</h4>
@foreach (var tydzien in Model)
{
    <table>
        @if (tydzien.getZablokowany() == 1)
        {
            <tr>
                <td>@string.Format("{1} - {2} [Tydzień: {0}]", tydzien.getRokTydzien(), Help.GetDayOfWeek(tydzien.getRokTydzien(), 1).Substring(0, 5), Help.GetDayOfWeek(tydzien.getRokTydzien(), 7).Substring(0, 5))</td>
                <td>
                    <a href='@Url.Action("Unlock", "Home", new { year = Request["year"], id = tydzien.getId() })'>
                        <img src='@Url.Content("~/Content/images/unlock.ico")' width="25" />
                    </a>
                </td>
            </tr>
        }
    </table>
}
<h4>Zablokuj</h4>
@if (((List<Tydzien>)Model).Count > 0)
{
    foreach (var tydzien in Model)
    {
        <table>
            @if (tydzien.getZablokowany() != 1)
            {
                <tr>
                    <td>@string.Format("{1} - {2} [Tydzień: {0}]", tydzien.getRokTydzien(), Help.GetDayOfWeek(tydzien.getRokTydzien(), 1).Substring(0, 5), Help.GetDayOfWeek(tydzien.getRokTydzien(), 7).Substring(0, 5))</td>
                    <td>
                        <a href='@Url.Action("Lock", "Home", new { year = Request["year"], id = tydzien.getId() })'>
                            <img src='@Url.Content("~/Content/images/lock.png")' width="25" />
                        </a>
                    </td>
                </tr>
            }
        </table>
    }
}
else
{
    <p>BRAK DO ZABLOKOWANIA</p>
}
