﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.3">
    <meta name="google-site-verification" content="NFmGSUfAE_KrMPlctx81PK79rGZ5S6MHPssizKTJRsY" />
    <title>@ViewBag.Title - DEKADÓWKI</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/datepicker")
    @Scripts.Render("~/bundles/datepicker")
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("WIZUALIZACJA", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("DEKADÓWKI", "Preview", "Home")</li>
                    <li>@Html.ActionLink("Pokaż miesiąc", "ShowMonth", "Dashboard")</li>
                    @*<li>@Html.ActionLink("GODZINY", "GodzinySprzetu", "Godziny")</li>
        <li>@Html.ActionLink("ROZLICZENIE", "Index", "RozliczeniaBudowy")</li>*@
                    @*@if (User.Identity.Name != "mjedrzejczyk@wizualizacja.com")
        {
            <li><a href="@string.Format(@"ms-outlook://")">POCZTA</a></li>
        }*@
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <table style="width: 100%;">
                <tr>
                    <td><p>&copy; @DateTime.Now.Year - Wizualizacja Sp. z o.o.</p></td>
                    <td float="right"><p style="float: right">Wykonanie - Wizualizacja sp. z o.o.</p></td>
                </tr>
            </table>
        </footer>
    </div>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
