﻿@using dekadowki.poburski.pl.Models
@model DashboardViewModel
@{
    ViewBag.Title = "Organizuj tydzień";
    if (Request["tabela"] != "1")
    {
        Layout = "~/Views/Shared/_LayoutFull.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutFull_MenuOut.cshtml";
    }

    var brygada = Model.Brygada;
    var message = ViewBag.Message.ToString() == "zmieniono_budowe" ? "Zmieniono budowę" : ViewBag.Message != null || ViewBag.Message != "" ? ViewBag.Message.ToString() : "";
    var colorMessage = ViewBag.ColorMessage.ToString();
    var listaTygodni = Help.GetTygodnie(DateTime.Now.Year);

    var tmpModel = Model;

    Tydzien tydzien = Session["Tydzien"] != null ? (Tydzien)Session["Tydzien"] : null;
    if (tydzien == null)
    {
        try
        {
            tydzien = Help.GetTydzien(Response.Cookies["Tydzien"].Value);
        }
        catch (Exception e)
        {
            Console.WriteLine(e.Message);
            tydzien = Help.GetTydzien(Help.GetCurrentWeek());
        }
    }
    var budowy = (List<Budowa>)ViewBag.Budowy;
    var wybranaBudowa = ViewBag.WybranaBudowa != null ? (Budowa)ViewBag.WybranaBudowa : new Budowa(-1, "", "");

    List<Dieta> listaDiet = new List<Dieta>();
    listaDiet.Add(new Dieta(0, "BRAK"));
    listaDiet.Add(new Dieta(1, "PL"));
    listaDiet.Add(new Dieta(2, "EU"));

    bool nadpisz = ViewBag.Nadpisz != null ? true : false;
    var podpisy = (List<string>)ViewBag.Podpisy;
    var firstUrl = Request.Url.ToString();
    var serwis = ViewBag.Serwis != null ? ViewBag.Serwis.ToString() : "";
    var print = ViewBag.Print == null ? false : (bool)ViewBag.Print;


    var w = "w100";
    var style1 = "";
    var style2 = "";
    var style3 = "";
    var style4 = "";
    var style5 = "";
    var style6 = "";
    var style7 = "";
    if (Convert.ToInt32(ViewBag.DzienTygodnia) != 0)
    {
        w = "";
        style1 = "display: none;";
        style2 = "display: none;";
        style3 = "display: none;";
        style4 = "display: none;";
        style5 = "display: none;";
        style6 = "display: none;";
        style7 = "display: none;";
        if (Convert.ToInt32(ViewBag.DzienTygodnia) == 1)
        {
            style1 = "display: block;";
        }
        if (Convert.ToInt32(ViewBag.DzienTygodnia) == 2)
        {
            style2 = "display: block;";
        }
        if (Convert.ToInt32(ViewBag.DzienTygodnia) == 3)
        {
            style3 = "display: block;";
        }
        if (Convert.ToInt32(ViewBag.DzienTygodnia) == 4)
        {
            style4 = "display: block;";
        }
        if (Convert.ToInt32(ViewBag.DzienTygodnia) == 5)
        {
            style5 = "display: block;";
        }
        if (Convert.ToInt32(ViewBag.DzienTygodnia) == 6)
        {
            style6 = "display: block;";
        }
        if (Convert.ToInt32(ViewBag.DzienTygodnia) == 7)
        {
            style7 = "display: block;";
        }
    }
}
<br />
<style>
    td {
        padding: 5px !important;
    }
</style>
<div id="spinner" style="display: none;"><img src="~/img/spinner.gif" />Ładowanie...</div>
@if (ViewBag.Tabela == "2")
{
    <script>
        $("#spinner").show();
        window.parent.location.reload();
    </script>
}
else
{
    using (Html.BeginForm("SaveDashboard", "Dashboard", FormMethod.Post))
    {
        var week = "";
        try
        {
            week = tydzien.getRokTydzien();
        }
        catch (Exception e)
        {
            Console.WriteLine(e.Message);
            if (!string.IsNullOrEmpty(Response.Cookies["Tydzien"].Value))
            {
                week = Help.GetTydzien(Response.Cookies["Tydzien"].Value).getRokTydzien();
            }
            else
            {
                week = Help.GetTydzien(Help.GetCurrentWeek()).getRokTydzien();
            }
        }

        <input type="hidden" name="tabela" value="@Request["tabela"]" />
        <table class="w100">
            <tr>
                <td width="500">
                    <div class="form-group">
                        <label for="answerInput">Wybierz budowę: </label>
                        @if (wybranaBudowa.Id != -1)
                        {
                            if ((Convert.ToInt32(ViewBag.DzienTygodnia) == 0 && Convert.ToInt32(ViewBag.Pracownik) == 0) || ViewBag.Odblokuj == "true" || brygada.Count > 1)
                            {
                                <input list="suggestionList" id="answerInput" class="form-control" value="@wybranaBudowa.Nazwa" required name="budowa" onchange="$('#komenda').val('1'); this.form.submit()" style="min-width:500px">
                            }
                            else
                            {
                                <input list="suggestionList" id="answerInput" class="form-control" value="@wybranaBudowa.Nazwa" required name="budowa" onchange="$('#komenda').val('1'); this.form.submit()" style="min-width:500px" readonly>
                            }
                        }
                        else
                        {
                            if ((Convert.ToInt32(ViewBag.DzienTygodnia) == 0 && Convert.ToInt32(ViewBag.Pracownik) == 0) || ViewBag.Odblokuj == "true" || brygada.Count > 1)
                            {
                                <input list="suggestionList" id="answerInput" class="form-control" value="" required name="komenda" onchange="$('#komenda').val('1'); this.form.submit()" style="min-width: 500px">
                            }
                            else
                            {
                                <input list="suggestionList" id="answerInput" class="form-control" value="" required name="komenda" onchange="$('#komenda').val('1'); this.form.submit()" style="min-width: 500px" readonly>
                            }
                        }
                        <datalist id="suggestionList">
                            @foreach (var budowa in budowy)
                            {
                                <option data-value="@budowa.Id">@budowa.Nazwa</option>
                            }
                        </datalist>
                        @if (string.IsNullOrEmpty(serwis))
                        {
                            if (wybranaBudowa.Id != -1)
                            {
                                <input type="hidden" name="budowa" id="answerInput-hidden" value="@wybranaBudowa.Id">
                            }
                            else
                            {
                                <input type="hidden" name="budowa" id="answerInput-hidden" value="-1">
                            }
                        }
                        else
                        {
                            <input type="hidden" name="budowa" id="answerInput-hidden" value="@serwis">
                        }
                        <input type="hidden" name="komenda" id="komenda">
                    </div>
                </td>
                @*<td style="color: grey;">Tydzien: @week</td>*@
                @if (ViewContext.RouteData.Values["action"].ToString() != "Index" && !print)
                {
                    <td>
                        <div class="form-group">
                            <label for="chooseTydzien">Tydzień: </label>
                            @if (Convert.ToInt32(ViewBag.DzienTygodnia) == 0 && Convert.ToInt32(ViewBag.Pracownik) == 0)
                            {
                                <select onchange="changeSessionWithGodziny(this)" id="chooseTydzien" name="tydzien" class="form-control">
                                    @foreach (var t in listaTygodni)
                                    {
                                        if (t.getRokTydzien() != week)
                                        {
                                            <option value="@t.getId()">@string.Format("{1} - {2} [Tydzień: {0}]", t.getRokTydzien(), Help.GetDayOfWeek(t.getRokTydzien(), 1).Substring(0, 5), Help.GetDayOfWeek(t.getRokTydzien(), 7).Substring(0, 5))</option>
                                        }
                                        else
                                        {
                                            <option value="@t.getId()" selected>@string.Format("{1} - {2} [Tydzień: {0}]", t.getRokTydzien(), Help.GetDayOfWeek(t.getRokTydzien(), 1).Substring(0, 5), Help.GetDayOfWeek(t.getRokTydzien(), 7).Substring(0, 5))</option>
                                        }
                                    }
                                </select>
                            }
                            else
                            {
                                <select onchange="changeSessionWithGodziny(this)" id="chooseTydzien" name="tydzien" class="form-control">
                                    @foreach (var t in listaTygodni)
                                    {
                                        if (t.getRokTydzien() != week)
                                        {
                                            <option value="@t.getId()" disabled>@string.Format("{1} - {2} [Tydzień: {0}]", t.getRokTydzien(), Help.GetDayOfWeek(t.getRokTydzien(), 1).Substring(0, 5), Help.GetDayOfWeek(t.getRokTydzien(), 7).Substring(0, 5))</option>
                                        }
                                        else
                                        {
                                            <option value="@t.getId()" selected disabled>@string.Format("{1} - {2} [Tydzień: {0}]", t.getRokTydzien(), Help.GetDayOfWeek(t.getRokTydzien(), 1).Substring(0, 5), Help.GetDayOfWeek(t.getRokTydzien(), 7).Substring(0, 5))</option>
                                        }
                                    }
                                </select>
                            }
                        </div>

                    </td>
                }
                else
                {
                    <td style="color: grey;">
                        @string.Format("Tydzień: {0}", week)
                    </td>
                }

                <td style="color: grey;">@string.Format("Od: {0}", Help.GetDayOfWeek(week, 1))</td>
                <td style="color: grey;">@string.Format("Do: {0}", Help.GetDayOfWeek(week, 7))</td>
                <td>
                    @*@if (string.IsNullOrEmpty(Request["czyInnaZmiana"]) || Request["czyInnaZmiana"].ToString() == "false")
                        {*@
                    <label style="display: none;"><input type="checkbox" value="true" name="czyInnaZmiana" onchange="$('#komenda').val('1');this.form.submit()" />Inna zmiana</label>
                    @*}
                        else
                        {
                            <label><input type="checkbox" value="true" name="czyInnaZmiana" checked onchange="$('#komenda').val('1');this.form.submit()" />Inna zmiana</label>
                        }*@
                </td>
            </tr>
            @if (wybranaBudowa.Id != -1)
            {
                <tr>
                    <td>
                        @if (!nadpisz)
                        {
                            if (!print)
                            {
                                <button onclick="if ($('#answerInput').val() != '') { $('#komenda').val('0'); saveSignatures(); document.forms[0].submit();}" class="btn btn-success">Zatwierdź</button>
                            }
                        }
                        else
                        {
                            <button onclick="if($('#answerInput').val() != '') { $('#komenda').val('2'); document.forms[0].submit(); }" class="btn btn-success">Zastąp</button>
                        }
                        @if (Request["tabela"] == "1")
                        {
                            <button type="button" id="showAllWorkers" class="btn btn-info btn-sm" onclick="$('.even').show(); $('.odd').show(); $('#showAllWorkers').hide();">Pokaż wszystkich pracowników</button>
                        }
                    </td>
                    <td>@Html.ActionLink("Wydruk", "Print", "Dashboard", null, new { @class = "btn btn-primary form-control" })</td>
                </tr>
            }
        </table>

        <table class="@w" border="1" id="dashboard-table" style="display: none;">

            @if (!print && Convert.ToInt32(ViewBag.DzienTygodnia) == 0 && Convert.ToInt32(ViewBag.Pracownik) == 0)
            {
                <tr>
                    <td colspan="3">&nbsp;</td>
                    <td align="center" style="@style1"><a class="btn btn-sm btn-success w100" onclick="setAllWithFirstValue(1)">Wszystko jak I</a></td>
                    <td align="center" style="@style2"><a class="btn btn-sm btn-success w100" onclick="setAllWithFirstValue(2)">Wszystko jak I</a></td>
                    <td align="center" style="@style3"><a class="btn btn-sm btn-success w100" onclick="setAllWithFirstValue(3)">Wszystko jak I</a></td>
                    <td align="center" style="@style4"><a class="btn btn-sm btn-success w100" onclick="setAllWithFirstValue(4)">Wszystko jak I</a></td>
                    <td align="center" style="@style5"><a class="btn btn-sm btn-success w100" onclick="setAllWithFirstValue(5)">Wszystko jak I</a></td>
                    <td align="center" style="@style6"><a class="btn btn-sm btn-success w100" onclick="setAllWithFirstValue(6)" style="background-color: #EC7063;">Wszystko jak I</a></td>
                    <td align="center" style="@style7"><a class="btn btn-sm btn-success w100" onclick="setAllWithFirstValue(7)" style="background-color: #EC7063;">Wszystko jak I</a></td>
                    <td align="center" style="display: none;"><a class="btn btn-sm btn-success w100" onclick="ClearSignatures()">Wyczyść</a></td>
                </tr>
            }

            <tr>
                <td width="20" align="center" class="th">Lp.</td>
                <td width="100" align="center" class="th">Pracownik</td>
                <td align="center" class="th">Rodzaj</td>
                <td align="center" class="th" style="min-width: 100px; @style1">Pn. @Help.GetDayOfWeek(week, 1)</td>
                <td align="center" class="th" style="min-width: 100px; @style2">Wt. @Help.GetDayOfWeek(week, 2)</td>
                <td align="center" class="th" style="min-width: 100px; @style3">Śr. @Help.GetDayOfWeek(week, 3)</td>
                <td align="center" class="th" style="min-width: 100px; @style4">Cz. @Help.GetDayOfWeek(week, 4)</td>
                <td align="center" class="th" style="min-width: 100px; @style5">Pi. @Help.GetDayOfWeek(week, 5)</td>
                <td align="center" class="th" style="min-width: 100px; background-color: #EC7063; @style6">So. @Help.GetDayOfWeek(week, 6)</td>
                <td align="center" class="th" style="min-width: 100px; background-color: #EC7063; @style7">Ni. @Help.GetDayOfWeek(week, 7)</td>
                <td align="center" class="th" style="min-width: 100px; display: none;">Podpis</td>
            </tr>
            @for (int i = 0; i < brygada.Count; ++i)
            {
                if (Model.DniTygodnia.Count > 0)
                {
                    var parity = "odd";
                    if (i % 2 == 0)
                    {
                        parity = "even";
                    }
                    @Html.HiddenFor(m => m.Brygada[i].Id)
                    @Html.HiddenFor(m => m.Brygada[i].Nazwa)
                    @Html.HiddenFor(m => m.Brygada[i].Brygadzista)
                    @Html.HiddenFor(m => m.Brygada[i].BrygadzistaId)

                    var style = "";
                    if (Convert.ToInt32(ViewBag.Pracownik) != 0)
                    {
                        if (Convert.ToInt32(ViewBag.Pracownik) != Model.Brygada[i].Id)
                        {
                            style = "display: none;";
                        }
                    }

                    <tr class="@parity " style="@style">
                        <td align="center" rowspan="8">@string.Format("{0}", i + 1)</td>
                        <td align="center" valign="middle" rowspan="8">
                            @Html.DisplayFor(model => model.Brygada[i].Nazwa)
                            <select name="@string.Format("DniTygodnia[{0}].obecny", i)" onchange="Blokuj(this.value, @Model.Brygada[i].Id), ''" class="form-control" style="margin-top: 10px;">
                                @if (Model.DniTygodnia[i].obecny == "brak")
                                {
                                    <option value="brak" selected>Obecny</option>
                                }
                                else
                                {
                                    <option value="brak">Obecny</option>
                                }
                                @if (Model.DniTygodnia[i].obecny == "CH")
                                {
                                    <option value="CH" selected>(CH) Choroba</option>
                                }
                                else
                                {
                                    <option value="CH">(CH) Choroba</option>
                                }
                                @if (Model.DniTygodnia[i].obecny == "U")
                                {
                                    <option value="U" selected>(U) Urlop</option>
                                }
                                else
                                {
                                    <option value="U">(U) Urlop</option>
                                }
                                @if (Model.DniTygodnia[i].obecny == "UB")
                                {
                                    <option value="UB" selected>(UB) Urlop bezpłatny</option>
                                }
                                else
                                {
                                    <option value="UB">(UB) Urlop bezpłatny</option>
                                }
                                @if (Model.DniTygodnia[i].obecny == "UO")
                                {
                                    <option value="UO" selected>(UO) Urlop okolicznościowy</option>
                                }
                                else
                                {
                                    <option value="UO">(UO) Urlop okolicznościowy</option>
                                }
                                @if (Model.DniTygodnia[i].obecny == "OND")
                                {
                                    <option value="OND" selected>(OND) Opieka na dziecko</option>
                                }
                                else
                                {
                                    <option value="OND">(OND) Opieka na dziecko</option>
                                }
                                @if (Model.DniTygodnia[i].obecny == "ONC")
                                {
                                    <option value="ONC" selected>(ONC) Opieka nad chorym</option>
                                }
                                else
                                {
                                    <option value="ONC">(ONC) Opieka nad chorym</option>
                                }
                            </select>
                        </td>
                    </tr>

                    <tr class="@parity" style="@style">
                        <td width="30" style="font-weight: bold;" align="center" class="@string.Format("Pracownik{0}", Model.Brygada[i].Id)">OBECNOŚĆ:</td>
                        <td style="@style1">
                            <select name="@string.Format("DniTygodnia[{0}].obecny_pn", i)" onchange="Blokuj(this.value, @Model.Brygada[i].Id, '@string.Format("pn{0}", i)')" class="form-control  @string.Format("PracownikTime{0} pn{1}", Model.Brygada[i].Id, i)">
                                @if (Model.DniTygodnia[i].obecny_pn == "brak")
                                {
                                    <option value="brak" selected>Obecny</option>
                                }
                                else
                                {
                                    <option value="brak">Obecny</option>
                                }
                                @if (Model.DniTygodnia[i].obecny_pn == "CH")
                                {
                                    <option value="CH" selected>(CH) Choroba</option>
                                }
                                else
                                {
                                    <option value="CH">(CH) Choroba</option>
                                }
                                @if (Model.DniTygodnia[i].obecny_pn == "U")
                                {
                                    <option value="U" selected>(U) Urlop</option>
                                }
                                else
                                {
                                    <option value="U">(U) Urlop</option>
                                }
                                @if (Model.DniTygodnia[i].obecny_pn == "UB")
                                {
                                    <option value="UB" selected>(UB) Urlop bezpłatny</option>
                                }
                                else
                                {
                                    <option value="UB">(UB) Urlop bezpłatny</option>
                                }
                                @if (Model.DniTygodnia[i].obecny_pn == "UO")
                                {
                                    <option value="UO" selected>(UO) Urlop okolicznościowy</option>
                                }
                                else
                                {
                                    <option value="UO">(UO) Urlop okolicznościowy</option>
                                }
                                @if (Model.DniTygodnia[i].obecny == "OND")
                                {
                                    <option value="OND" selected>(OND) Opieka na dziecko</option>
                                }
                                else
                                {
                                    <option value="OND">(OND) Opieka na dziecko</option>
                                }
                                @if (Model.DniTygodnia[i].obecny == "ONC")
                                {
                                    <option value="ONC" selected>(ONC) Opieka nad chorym</option>
                                }
                                else
                                {
                                    <option value="ONC">(ONC) Opieka nad chorym</option>
                                }
                            </select>
                        </td>
                        <td style="@style2">
                            <select name="@string.Format("DniTygodnia[{0}].obecny_wt", i)" onchange="Blokuj(this.value, @Model.Brygada[i].Id, '@string.Format("wt{0}", i)')" class="form-control  @string.Format("PracownikTime{0} wt{1}", Model.Brygada[i].Id, i)">
                                @if (Model.DniTygodnia[i].obecny_wt == "brak")
                                {
                                    <option value="brak" selected>Obecny</option>
                                }
                                else
                                {
                                    <option value="brak">Obecny</option>
                                }
                                @if (Model.DniTygodnia[i].obecny_wt == "CH")
                                {
                                    <option value="CH" selected>(CH) Choroba</option>
                                }
                                else
                                {
                                    <option value="CH">(CH) Choroba</option>
                                }
                                @if (Model.DniTygodnia[i].obecny_wt == "U")
                                {
                                    <option value="U" selected>(U) Urlop</option>
                                }
                                else
                                {
                                    <option value="U">(U) Urlop</option>
                                }
                                @if (Model.DniTygodnia[i].obecny_wt == "UB")
                                {
                                    <option value="UB" selected>(UB) Urlop bezpłatny</option>
                                }
                                else
                                {
                                    <option value="UB">(UB) Urlop bezpłatny</option>
                                }
                                @if (Model.DniTygodnia[i].obecny_wt == "UO")
                                {
                                    <option value="UO" selected>(UO) Urlop okolicznościowy</option>
                                }
                                else
                                {
                                    <option value="UO">(UO) Urlop okolicznościowy</option>
                                }
                                @if (Model.DniTygodnia[i].obecny == "OND")
                                {
                                    <option value="OND" selected>(OND) Opieka na dziecko</option>
                                }
                                else
                                {
                                    <option value="OND">(OND) Opieka na dziecko</option>
                                }
                                @if (Model.DniTygodnia[i].obecny == "ONC")
                                {
                                    <option value="ONC" selected>(ONC) Opieka nad chorym</option>
                                }
                                else
                                {
                                    <option value="ONC">(ONC) Opieka nad chorym</option>
                                }
                            </select>
                        </td>
                        <td style="@style3">
                            <select name="@string.Format("DniTygodnia[{0}].obecny_sr", i)" onchange="Blokuj(this.value, @Model.Brygada[i].Id, '@string.Format("sr{0}", i)')" class="form-control  @string.Format("PracownikTime{0} sr{1}", Model.Brygada[i].Id, i)">
                                @if (Model.DniTygodnia[i].obecny_sr == "brak")
                                {
                                    <option value="brak" selected>Obecny</option>
                                }
                                else
                                {
                                    <option value="brak">Obecny</option>
                                }
                                @if (Model.DniTygodnia[i].obecny_sr == "CH")
                                {
                                    <option value="CH" selected>(CH) Choroba</option>
                                }
                                else
                                {
                                    <option value="CH">(CH) Choroba</option>
                                }
                                @if (Model.DniTygodnia[i].obecny_sr == "U")
                                {
                                    <option value="U" selected>(U) Urlop</option>
                                }
                                else
                                {
                                    <option value="U">(U) Urlop</option>
                                }
                                @if (Model.DniTygodnia[i].obecny_sr == "UB")
                                {
                                    <option value="UB" selected>(UB) Urlop bezpłatny</option>
                                }
                                else
                                {
                                    <option value="UB">(UB) Urlop bezpłatny</option>
                                }
                                @if (Model.DniTygodnia[i].obecny_sr == "UO")
                                {
                                    <option value="UO" selected>(UO) Urlop okolicznościowy</option>
                                }
                                else
                                {
                                    <option value="UO">(UO) Urlop okolicznościowy</option>
                                }
                                @if (Model.DniTygodnia[i].obecny == "OND")
                                {
                                    <option value="OND" selected>(OND) Opieka na dziecko</option>
                                }
                                else
                                {
                                    <option value="OND">(OND) Opieka na dziecko</option>
                                }
                                @if (Model.DniTygodnia[i].obecny == "ONC")
                                {
                                    <option value="ONC" selected>(ONC) Opieka nad chorym</option>
                                }
                                else
                                {
                                    <option value="ONC">(ONC) Opieka nad chorym</option>
                                }
                            </select>
                        </td>
                        <td style="@style4">
                            <select name="@string.Format("DniTygodnia[{0}].obecny_cz", i)" onchange="Blokuj(this.value, @Model.Brygada[i].Id, '@string.Format("cz{0}", i)')" class="form-control  @string.Format("PracownikTime{0} cz{1}", Model.Brygada[i].Id, i)">
                                @if (Model.DniTygodnia[i].obecny_cz == "brak")
                                {
                                    <option value="brak" selected>Obecny</option>
                                }
                                else
                                {
                                    <option value="brak">Obecny</option>
                                }
                                @if (Model.DniTygodnia[i].obecny_cz == "CH")
                                {
                                    <option value="CH" selected>(CH) Choroba</option>
                                }
                                else
                                {
                                    <option value="CH">(CH) Choroba</option>
                                }
                                @if (Model.DniTygodnia[i].obecny_cz == "U")
                                {
                                    <option value="U" selected>(U) Urlop</option>
                                }
                                else
                                {
                                    <option value="U">(U) Urlop</option>
                                }
                                @if (Model.DniTygodnia[i].obecny_cz == "UB")
                                {
                                    <option value="UB" selected>(UB) Urlop bezpłatny</option>
                                }
                                else
                                {
                                    <option value="UB">(UB) Urlop bezpłatny</option>
                                }
                                @if (Model.DniTygodnia[i].obecny_cz == "UO")
                                {
                                    <option value="UO" selected>(UO) Urlop okolicznościowy</option>
                                }
                                else
                                {
                                    <option value="UO">(UO) Urlop okolicznościowy</option>
                                }
                                @if (Model.DniTygodnia[i].obecny == "OND")
                                {
                                    <option value="OND" selected>(OND) Opieka na dziecko</option>
                                }
                                else
                                {
                                    <option value="OND">(OND) Opieka na dziecko</option>
                                }
                                @if (Model.DniTygodnia[i].obecny == "ONC")
                                {
                                    <option value="ONC" selected>(ONC) Opieka nad chorym</option>
                                }
                                else
                                {
                                    <option value="ONC">(ONC) Opieka nad chorym</option>
                                }
                            </select>
                        </td>
                        <td style="@style5">
                            <select name="@string.Format("DniTygodnia[{0}].obecny_pi", i)" onchange="Blokuj(this.value, @Model.Brygada[i].Id, '@string.Format("pi{0}", i)')" class="form-control  @string.Format("PracownikTime{0} pi{1}", Model.Brygada[i].Id, i)">
                                @if (Model.DniTygodnia[i].obecny_pi == "brak")
                                {
                                    <option value="brak" selected>Obecny</option>
                                }
                                else
                                {
                                    <option value="brak">Obecny</option>
                                }
                                @if (Model.DniTygodnia[i].obecny_pi == "CH")
                                {
                                    <option value="CH" selected>(CH) Choroba</option>
                                }
                                else
                                {
                                    <option value="CH">(CH) Choroba</option>
                                }
                                @if (Model.DniTygodnia[i].obecny_pi == "U")
                                {
                                    <option value="U" selected>(U) Urlop</option>
                                }
                                else
                                {
                                    <option value="U">(U) Urlop</option>
                                }
                                @if (Model.DniTygodnia[i].obecny_pi == "UB")
                                {
                                    <option value="UB" selected>(UB) Urlop bezpłatny</option>
                                }
                                else
                                {
                                    <option value="UB">(UB) Urlop bezpłatny</option>
                                }
                                @if (Model.DniTygodnia[i].obecny_pi == "UO")
                                {
                                    <option value="UO" selected>(UO) Urlop okolicznościowy</option>
                                }
                                else
                                {
                                    <option value="UO">(UO) Urlop okolicznościowy</option>
                                }
                                @if (Model.DniTygodnia[i].obecny == "OND")
                                {
                                    <option value="OND" selected>(OND) Opieka na dziecko</option>
                                }
                                else
                                {
                                    <option value="OND">(OND) Opieka na dziecko</option>
                                }
                                @if (Model.DniTygodnia[i].obecny == "ONC")
                                {
                                    <option value="ONC" selected>(ONC) Opieka nad chorym</option>
                                }
                                else
                                {
                                    <option value="ONC">(ONC) Opieka nad chorym</option>
                                }
                            </select>
                        </td>
                        <td style="@style6">
                            <select name="@string.Format("DniTygodnia[{0}].obecny_so", i)" onchange="Blokuj(this.value, @Model.Brygada[i].Id, '@string.Format("so{0}", i)')" class="form-control  @string.Format("PracownikTime{0} so{1}", Model.Brygada[i].Id, i)">
                                @if (Model.DniTygodnia[i].obecny_so == "brak")
                                {
                                    <option value="brak" selected>Obecny</option>
                                }
                                else
                                {
                                    <option value="brak">Obecny</option>
                                }
                                @if (Model.DniTygodnia[i].obecny_so == "CH")
                                {
                                    <option value="CH" selected>(CH) Choroba</option>
                                }
                                else
                                {
                                    <option value="CH">(CH) Choroba</option>
                                }
                                @if (Model.DniTygodnia[i].obecny_so == "U")
                                {
                                    <option value="U" selected>(U) Urlop</option>
                                }
                                else
                                {
                                    <option value="U">(U) Urlop</option>
                                }
                                @if (Model.DniTygodnia[i].obecny_so == "UB")
                                {
                                    <option value="UB" selected>(UB) Urlop bezpłatny</option>
                                }
                                else
                                {
                                    <option value="UB">(UB) Urlop bezpłatny</option>
                                }
                                @if (Model.DniTygodnia[i].obecny_so == "UO")
                                {
                                    <option value="UO" selected>(UO) Urlop okolicznościowy</option>
                                }
                                else
                                {
                                    <option value="UO">(UO) Urlop okolicznościowy</option>
                                }
                                @if (Model.DniTygodnia[i].obecny == "OND")
                                {
                                    <option value="OND" selected>(OND) Opieka na dziecko</option>
                                }
                                else
                                {
                                    <option value="OND">(OND) Opieka na dziecko</option>
                                }
                                @if (Model.DniTygodnia[i].obecny == "ONC")
                                {
                                    <option value="ONC" selected>(ONC) Opieka nad chorym</option>
                                }
                                else
                                {
                                    <option value="ONC">(ONC) Opieka nad chorym</option>
                                }
                            </select>
                        </td>
                        <td style="@style7">
                            <select name="@string.Format("DniTygodnia[{0}].obecny_ni", i)" onchange="Blokuj(this.value, @Model.Brygada[i].Id, '@string.Format("ni{0}", i)')" class="form-control  @string.Format("PracownikTime{0} ni{1}", Model.Brygada[i].Id, i)">
                                @if (Model.DniTygodnia[i].obecny_ni == "brak")
                                {
                                    <option value="brak" selected>Obecny</option>
                                }
                                else
                                {
                                    <option value="brak">Obecny</option>
                                }
                                @if (Model.DniTygodnia[i].obecny_ni == "CH")
                                {
                                    <option value="CH" selected>(CH) Choroba</option>
                                }
                                else
                                {
                                    <option value="CH">(CH) Choroba</option>
                                }
                                @if (Model.DniTygodnia[i].obecny_ni == "U")
                                {
                                    <option value="U" selected>(U) Urlop</option>
                                }
                                else
                                {
                                    <option value="U">(U) Urlop</option>
                                }
                                @if (Model.DniTygodnia[i].obecny_ni == "UB")
                                {
                                    <option value="UB" selected>(UB) Urlop bezpłatny</option>
                                }
                                else
                                {
                                    <option value="UB">(UB) Urlop bezpłatny</option>
                                }
                                @if (Model.DniTygodnia[i].obecny_ni == "UO")
                                {
                                    <option value="UO" selected>(UO) Urlop okolicznościowy</option>
                                }
                                else
                                {
                                    <option value="UO">(UO) Urlop okolicznościowy</option>
                                }
                                @if (Model.DniTygodnia[i].obecny == "OND")
                                {
                                    <option value="OND" selected>(OND) Opieka na dziecko</option>
                                }
                                else
                                {
                                    <option value="OND">(OND) Opieka na dziecko</option>
                                }
                                @if (Model.DniTygodnia[i].obecny == "ONC")
                                {
                                    <option value="ONC" selected>(ONC) Opieka nad chorym</option>
                                }
                                else
                                {
                                    <option value="ONC">(ONC) Opieka nad chorym</option>
                                }
                            </select>
                        </td>
                        <td rowspan="8" style="display: none;">
                            @if (podpisy != null && podpisy.Count != 0 && !string.IsNullOrEmpty(podpisy[i]) && podpisy[i] != "")
                            {
                                <img src="@string.Format("/Content/signatures/{0}", podpisy[i])" />
                                <input type="hidden" name="@string.Format("imageData[{0}]", i)" id="@string.Format("imageData[{0}]", i)" />
                                <canvas id="@string.Format("canvas[{0}]", i)" class="signature-pad @string.Format("Pracownik{0}", Model.Brygada[i].Id)" width="200" height="100" style="display: none;"></canvas>
                            }
                            else
                            {
                                <input type="hidden" name="@string.Format("imageData[{0}]", i)" id="@string.Format("imageData[{0}]", i)" />
                                <canvas id="@string.Format("canvas[{0}]", i)" class="signature-pad @string.Format("Pracownik{0}", Model.Brygada[i].Id)" style="width:250px;height:150px;"></canvas>
                            }
                        </td>
                    </tr>
                    <tr class="@parity" style="@style">
                        <td width="30" style="font-weight: bold;" align="center" class="@string.Format("Pracownik{0}", Model.Brygada[i].Id)">GODZ OD:</td>
                        <td style="@style1">
                            <div class='input-group date time-picker'>
                                @Html.TextBoxFor(m => m.DniTygodnia[i].od_pn, new { @class = string.Format("{0} {1} Pracownik{2} pn{3}", parity, "od_pn", Model.Brygada[i].Id, i), @readonly = false })
                                <span class="input-group-addon @string.Format("PracownikTime{0} pn{1}", Model.Brygada[i].Id, i)">
                                    <span class="glyphicon glyphicon-time"></span>
                                </span>
                            </div>
                        </td>
                        <td style="@style2">
                            <div class='input-group date time-picker'>
                                @Html.TextBoxFor(m => m.DniTygodnia[i].od_wt, new { @class = string.Format("{0} {1} Pracownik{2} wt{3}", parity, "od_wt", Model.Brygada[i].Id, i), @readonly = false })
                                <span class="input-group-addon @string.Format("PracownikTime{0} wt{1}", Model.Brygada[i].Id, i)">
                                    <span class="glyphicon glyphicon-time"></span>
                                </span>
                            </div>
                        </td>
                        <td style="@style3">
                            <div class='input-group date time-picker'>
                                @Html.TextBoxFor(m => m.DniTygodnia[i].od_sr, new { @class = string.Format("{0} {1} Pracownik{2} sr{3}", parity, "od_sr", Model.Brygada[i].Id, i), @readonly = false })
                                <span class="input-group-addon @string.Format("PracownikTime{0} sr{1}", Model.Brygada[i].Id, i)">
                                    <span class="glyphicon glyphicon-time"></span>
                                </span>
                            </div>
                        </td>
                        <td style="@style4">
                            <div class='input-group date time-picker'>
                                @Html.TextBoxFor(m => m.DniTygodnia[i].od_cz, new { @class = string.Format("{0} {1} Pracownik{2} cz{3}", parity, "od_cz", Model.Brygada[i].Id, i), @readonly = false })
                                <span class="input-group-addon @string.Format("PracownikTime{0} cz{1}", Model.Brygada[i].Id, i)">
                                    <span class="glyphicon glyphicon-time"></span>
                                </span>
                            </div>
                        </td>
                        <td style="@style5">
                            <div class='input-group date time-picker'>
                                @Html.TextBoxFor(m => m.DniTygodnia[i].od_pi, new { @class = string.Format("{0} {1} Pracownik{2} pi{3}", parity, "od_pi", Model.Brygada[i].Id, i), @readonly = false })
                                <span class="input-group-addon @string.Format("PracownikTime{0} pi{1}", Model.Brygada[i].Id, i)">
                                    <span class="glyphicon glyphicon-time"></span>
                                </span>
                            </div>
                        </td>
                        <td style="@style6">
                            <div class='input-group date time-picker'>
                                @Html.TextBoxFor(m => m.DniTygodnia[i].od_so, new { @class = string.Format("{0} {1} Pracownik{2} so{3}", parity, "od_so", Model.Brygada[i].Id, i), @readonly = false })
                                <span class="input-group-addon @string.Format("PracownikTime{0} so{1}", Model.Brygada[i].Id, i)">
                                    <span class="glyphicon glyphicon-time"></span>
                                </span>
                            </div>
                        </td>
                        <td style="@style7">
                            <div class='input-group date time-picker'>
                                @Html.TextBoxFor(m => m.DniTygodnia[i].od_ni, new { @class = string.Format("{0} {1} Pracownik{2} ni{3}", parity, "od_ni", Model.Brygada[i].Id, i), @readonly = false })
                                <span class="input-group-addon @string.Format("PracownikTime{0} ni{1}", Model.Brygada[i].Id, i)">
                                    <span class="glyphicon glyphicon-time"></span>
                                </span>
                            </div>
                        </td>
                    </tr>
                    <tr class="@parity" style="@style">
                        <td width="30" style="font-weight: bold;" align="center" class="@string.Format("Pracownik{0}", Model.Brygada[i].Id)">GODZ DO:</td>
                        <td style="@style1">
                            <div class='input-group date time-picker'>
                                @Html.TextBoxFor(m => m.DniTygodnia[i].do_pn, new { @class = string.Format("{0} {1} Pracownik{2} pn{3}", parity, "do_pn", Model.Brygada[i].Id, i), @readonly = false })
                                <span class="input-group-addon @string.Format("PracownikTime{0} pn{1}", Model.Brygada[i].Id, i)">
                                    <span class="glyphicon glyphicon-time"></span>
                                </span>
                            </div>
                        </td>
                        <td style="@style2">
                            <div class='input-group date time-picker'>
                                @Html.TextBoxFor(m => m.DniTygodnia[i].do_wt, new { @class = string.Format("{0} {1} Pracownik{2} wt{3}", parity, "do_wt", Model.Brygada[i].Id, i), @readonly = false })
                                <span class="input-group-addon @string.Format("PracownikTime{0} wt{1}", Model.Brygada[i].Id, i)">
                                    <span class="glyphicon glyphicon-time"></span>
                                </span>
                            </div>
                        </td>
                        <td style="@style3">
                            <div class='input-group date time-picker'>
                                @Html.TextBoxFor(m => m.DniTygodnia[i].do_sr, new { @class = string.Format("{0} {1} Pracownik{2} sr{3}", parity, "do_sr", Model.Brygada[i].Id, i), @readonly = false })
                                <span class="input-group-addon @string.Format("PracownikTime{0} sr{1}", Model.Brygada[i].Id, i)">
                                    <span class="glyphicon glyphicon-time"></span>
                                </span>
                            </div>
                        </td>
                        <td style="@style4">
                            <div class='input-group date time-picker'>
                                @Html.TextBoxFor(m => m.DniTygodnia[i].do_cz, new { @class = string.Format("{0} {1} Pracownik{2} cz{3}", parity, "do_cz", Model.Brygada[i].Id, i), @readonly = false })
                                <span class="input-group-addon @string.Format("PracownikTime{0} cz{1}", Model.Brygada[i].Id, i)">
                                    <span class="glyphicon glyphicon-time"></span>
                                </span>
                            </div>
                        </td>
                        <td style="@style5">
                            <div class='input-group date time-picker'>
                                @Html.TextBoxFor(m => m.DniTygodnia[i].do_pi, new { @class = string.Format("{0} {1} Pracownik{2} pi{3}", parity, "do_pi", Model.Brygada[i].Id, i), @readonly = false })
                                <span class="input-group-addon @string.Format("PracownikTime{0} pi{1}", Model.Brygada[i].Id, i)">
                                    <span class="glyphicon glyphicon-time"></span>
                                </span>
                            </div>
                        </td>
                        <td style="@style6">
                            <div class='input-group date time-picker'>
                                @Html.TextBoxFor(m => m.DniTygodnia[i].do_so, new { @class = string.Format("{0} {1} Pracownik{2} so{3}", parity, "do_so", Model.Brygada[i].Id, i), @readonly = false })
                                <span class="input-group-addon @string.Format("PracownikTime{0} so{1}", Model.Brygada[i].Id, i)">
                                    <span class="glyphicon glyphicon-time"></span>
                                </span>
                            </div>
                        </td>
                        <td style="@style7">
                            <div class='input-group date time-picker'>
                                @Html.TextBoxFor(m => m.DniTygodnia[i].do_ni, new { @class = string.Format("{0} {1} Pracownik{2} ni{3}", parity, "do_ni", Model.Brygada[i].Id, i), @readonly = false })
                                <span class="input-group-addon @string.Format("PracownikTime{0} ni{1}", Model.Brygada[i].Id, i)">
                                    <span class="glyphicon glyphicon-time"></span>
                                </span>
                            </div>
                        </td>
                    </tr>
                    <tr class="@parity" style="@style">
                        <td style="font-weight: bold;" align="center" class="@string.Format("Pracownik{0}", Model.Brygada[i].Id)">PRZESTOJE:</td>
                        <td style="@style1">@Html.TextBoxFor(m => m.DniTygodnia[i].przestoje_pn, new { @class = string.Format("{0} {1} Pracownik{2} pn{3}", parity, "prz_pn", Model.Brygada[i].Id, i), type = "number", min = "00.00", step = "0.01" })</td>
                        <td style="@style2">@Html.TextBoxFor(m => m.DniTygodnia[i].przestoje_wt, new { @class = string.Format("{0} {1} Pracownik{2} wt{3}", parity, "prz_wt", Model.Brygada[i].Id, i), type = "number", min = "00.00", step = "0.01" })</td>
                        <td style="@style3">@Html.TextBoxFor(m => m.DniTygodnia[i].przestoje_sr, new { @class = string.Format("{0} {1} Pracownik{2} sr{3}", parity, "prz_sr", Model.Brygada[i].Id, i), type = "number", min = "00.00", step = "0.01" })</td>
                        <td style="@style4">@Html.TextBoxFor(m => m.DniTygodnia[i].przestoje_cz, new { @class = string.Format("{0} {1} Pracownik{2} cz{3}", parity, "prz_cz", Model.Brygada[i].Id, i), type = "number", min = "00.00", step = "0.01" })</td>
                        <td style="@style5">@Html.TextBoxFor(m => m.DniTygodnia[i].przestoje_pi, new { @class = string.Format("{0} {1} Pracownik{2} pi{3}", parity, "prz_pi", Model.Brygada[i].Id, i), type = "number", min = "00.00", step = "0.01" })</td>
                        <td style="@style6">@Html.TextBoxFor(m => m.DniTygodnia[i].przestoje_so, new { @class = string.Format("{0} {1} Pracownik{2} so{3}", parity, "prz_so", Model.Brygada[i].Id, i), type = "number", min = "00.00", step = "0.01" })</td>
                        <td style="@style7">@Html.TextBoxFor(m => m.DniTygodnia[i].przestoje_ni, new { @class = string.Format("{0} {1} Pracownik{2} ni{3}", parity, "prz_ni", Model.Brygada[i].Id, i), type = "number", min = "00.00", step = "0.01" })</td>
                    </tr>
                    <tr class="@parity" style="@style">
                        <td style="font-weight: bold;" align="center" class="@string.Format("Pracownik{0}", Model.Brygada[i].Id)">DOJAZD:</td>
                        <td style="@style1">@Html.TextBoxFor(m => m.DniTygodnia[i].dojazd_pn, new { @class = string.Format("{0} {1} Pracownik{2} pn{3}", parity, "doj_pn", Model.Brygada[i].Id, i), type = "number", min = "00.00", step = "0.01" })</td>
                        <td style="@style2">@Html.TextBoxFor(m => m.DniTygodnia[i].dojazd_wt, new { @class = string.Format("{0} {1} Pracownik{2} wt{3}", parity, "doj_wt", Model.Brygada[i].Id, i), type = "number", min = "00.00", step = "0.01" })</td>
                        <td style="@style3">@Html.TextBoxFor(m => m.DniTygodnia[i].dojazd_sr, new { @class = string.Format("{0} {1} Pracownik{2} sr{3}", parity, "doj_sr", Model.Brygada[i].Id, i), type = "number", min = "00.00", step = "0.01" })</td>
                        <td style="@style4">@Html.TextBoxFor(m => m.DniTygodnia[i].dojazd_cz, new { @class = string.Format("{0} {1} Pracownik{2} cz{3}", parity, "doj_cz", Model.Brygada[i].Id, i), type = "number", min = "00.00", step = "0.01" })</td>
                        <td style="@style5">@Html.TextBoxFor(m => m.DniTygodnia[i].dojazd_pi, new { @class = string.Format("{0} {1} Pracownik{2} pi{3}", parity, "doj_pi", Model.Brygada[i].Id, i), type = "number", min = "00.00", step = "0.01" })</td>
                        <td style="@style6">@Html.TextBoxFor(m => m.DniTygodnia[i].dojazd_so, new { @class = string.Format("{0} {1} Pracownik{2} so{3}", parity, "doj_so", Model.Brygada[i].Id, i), type = "number", min = "00.00", step = "0.01" })</td>
                        <td style="@style7">@Html.TextBoxFor(m => m.DniTygodnia[i].dojazd_ni, new { @class = string.Format("{0} {1} Pracownik{2} ni{3}", parity, "doj_ni", Model.Brygada[i].Id, i), type = "number", min = "00.00", step = "0.01" })</td>
                    </tr>
                    <tr class="@parity" style="@style">
                        <td style="font-weight: bold;" align="center" class="@string.Format("Pracownik{0}", Model.Brygada[i].Id)">DIETA:</td>
                        <td style="@style1">@Html.DropDownListFor(m => m.DniTygodnia[i].dieta_pn, new SelectList(listaDiet, "Id", "Nazwa"), new { @class = string.Format("{0} slctPN{1} die_pn Pracownik{2} pn{3}", parity, i, Model.Brygada[i].Id, i) })</td>
                        <td style="@style2">@Html.DropDownListFor(m => m.DniTygodnia[i].dieta_wt, new SelectList(listaDiet, "Id", "Nazwa"), new { @class = string.Format("{0} slctWT{1} die_wt Pracownik{2} wt{3}", parity, i, Model.Brygada[i].Id, i) })</td>
                        <td style="@style3">@Html.DropDownListFor(m => m.DniTygodnia[i].dieta_sr, new SelectList(listaDiet, "Id", "Nazwa"), new { @class = string.Format("{0} slctSR{1} die_sr Pracownik{2} sr{3}", parity, i, Model.Brygada[i].Id, i) })</td>
                        <td style="@style4">@Html.DropDownListFor(m => m.DniTygodnia[i].dieta_cz, new SelectList(listaDiet, "Id", "Nazwa"), new { @class = string.Format("{0} slctCZ{1} die_cz Pracownik{2} cz{3}", parity, i, Model.Brygada[i].Id, i) })</td>
                        <td style="@style5">@Html.DropDownListFor(m => m.DniTygodnia[i].dieta_pi, new SelectList(listaDiet, "Id", "Nazwa"), new { @class = string.Format("{0} slctPI{1} die_pi Pracownik{2} pi{3}", parity, i, Model.Brygada[i].Id, i) })</td>
                        <td style="@style6">@Html.DropDownListFor(m => m.DniTygodnia[i].dieta_so, new SelectList(listaDiet, "Id", "Nazwa"), new { @class = string.Format("{0} slctSO{1} die_so Pracownik{2} so{3}", parity, i, Model.Brygada[i].Id, i) })</td>
                        <td style="@style7">@Html.DropDownListFor(m => m.DniTygodnia[i].dieta_ni, new SelectList(listaDiet, "Id", "Nazwa"), new { @class = string.Format("{0} slctNI{1} die_ni Pracownik{2} ni{3}", parity, i, Model.Brygada[i].Id, i) })</td>
                    </tr>
                    <tr class="@parity" style="@style">
                        <td style="font-weight: bold;" align="center" class="@string.Format("Pracownik{0}", Model.Brygada[i].Id)">PARAGONY:</td>
                        <td style="@style1">@Html.TextBoxFor(m => m.DniTygodnia[i].paragony_po, new { @class = string.Format("{0} {1} Pracownik{2} pn{3}", parity, "par_pn", Model.Brygada[i].Id, i), type = "number", min = "00.00", step = "0.01" })</td>
                        <td style="@style2">@Html.TextBoxFor(m => m.DniTygodnia[i].paragony_wt, new { @class = string.Format("{0} {1} Pracownik{2} wt{3}", parity, "par_wt", Model.Brygada[i].Id, i), type = "number", min = "00.00", step = "0.01" })</td>
                        <td style="@style3">@Html.TextBoxFor(m => m.DniTygodnia[i].paragony_sr, new { @class = string.Format("{0} {1} Pracownik{2} sr{3}", parity, "par_sr", Model.Brygada[i].Id, i), type = "number", min = "00.00", step = "0.01" })</td>
                        <td style="@style4">@Html.TextBoxFor(m => m.DniTygodnia[i].paragony_cz, new { @class = string.Format("{0} {1} Pracownik{2} cz{3}", parity, "par_cz", Model.Brygada[i].Id, i), type = "number", min = "00.00", step = "0.01" })</td>
                        <td style="@style5">@Html.TextBoxFor(m => m.DniTygodnia[i].paragony_pi, new { @class = string.Format("{0} {1} Pracownik{2} pi{3}", parity, "par_pi", Model.Brygada[i].Id, i), type = "number", min = "00.00", step = "0.01" })</td>
                        <td style="@style6">@Html.TextBoxFor(m => m.DniTygodnia[i].paragony_so, new { @class = string.Format("{0} {1} Pracownik{2} so{3}", parity, "par_so", Model.Brygada[i].Id, i), type = "number", min = "00.00", step = "0.01" })</td>
                        <td style="@style7">@Html.TextBoxFor(m => m.DniTygodnia[i].paragony_ni, new { @class = string.Format("{0} {1} Pracownik{2} ni{3}", parity, "par_ni", Model.Brygada[i].Id, i), type = "number", min = "00.00", step = "0.01" })</td>
                    </tr>
                }
            }
        </table>
        <div id="snackbar" style="color: white; background-color: @colorMessage">@message</div>

        if (Model.DniTygodnia.Count > 0)
        {
            <script async>
                if (!$('#answerInput').val()) {
                    $('#dashboard-table').hide();
                }
                else {
                    $('#dashboard-table').show();
                }
                $('#answerInput').blur(function () {
                    if (!$(this).val()) {
                        $('#dashboard-table').hide();
                    }
                    else {
                        $('#dashboard-table').show();
                    }
                });
                $("select").each(function () {
                    $(this).addClass("form-control")
                });
                HoldOn.open({
                    theme: "sk-circle",
                    message: "<h4>Ładowanie...</h4>",
                    backgroundColor: "#1847B1"
                });
            </script>

            for (int i = 0; i < brygada.Count; ++i)
            {
                <script defer>
            try {
                var signaturePad = new SignaturePad(document.getElementById('@string.Format("canvas[{0}]", i)'), {
                    backgroundColor: 'rgba(255, 255, 255, 0)',
                    penColor: 'rgb(0, 0, 0)'
                });
                $("@string.Format(".slctPN{0}", i)").val(@Model.DniTygodnia[i].dieta_pn);
                $("@string.Format(".slctWT{0}", i)").val(@Model.DniTygodnia[i].dieta_wt);
                $("@string.Format(".slctSR{0}", i)").val(@Model.DniTygodnia[i].dieta_sr);
                $("@string.Format(".slctCZ{0}", i)").val(@Model.DniTygodnia[i].dieta_cz);
                $("@string.Format(".slctPI{0}", i)").val(@Model.DniTygodnia[i].dieta_pi);
                $("@string.Format(".slctSO{0}", i)").val(@Model.DniTygodnia[i].dieta_so);
                $("@string.Format(".slctNI{0}", i)").val(@Model.DniTygodnia[i].dieta_ni);
            }
            catch(error) {
                console.error(error);
            }
                </script>
            }

            if (print)
            {
                <script>
                    $("input").prop("disabled", "true");
                    $("select").prop("disabled", "true");
                    $("canvas").prop("style", "display:none;")
                    $(".input-group-addon").prop("style", "display:none;")
                </script>
            }

            <script defer>
        $("input").each(function(index) {
            $(this).addClass("form-control")
            $(this).attr("onClick", "this.select();")
        });
        $("textarea").each(function(index) {
            $(this).addClass("form-control")
        });


        function saveSignatures() {
            for (index = 0; index < @Model.Brygada.Count; index++)
            {
                var canvas = 'canvas[' + index + ']';
                var imageData = 'imageData[' + index + ']';
                var image = document.getElementById(canvas).toDataURL("image/png");
                image = image.replace('data:image/png;base64,', '');
                document.getElementById(imageData).value = image;
            }
        }

        function changeSessionWithGodziny(tydzien) {
            var idbudowy = @wybranaBudowa.Id;
            var idbrygadzisty = @Model.Brygadzista.getId();
            var idtygodnia = @week;
            $.ajax({
                type: 'POST',
                url: "ChangeWeek",
                dataType: 'json',
                data: { tydzien: tydzien.value, budowa: idbudowy, brygadzista: idbrygadzisty, staryTydzien: idtygodnia },
                success: function (data) {

                },
                error: function (ex) {
                }
            });
        }

        function setAllWithFirstValue(day)
        {
            switch (day)
            {
                case 1:
                    var od = $("#DniTygodnia_0__od_pn").val();
                    var to = $("#DniTygodnia_0__do_pn").val();
                    var przestoje = $("#DniTygodnia_0__przestoje_pn").val();
                    var dojazd = $("#DniTygodnia_0__dojazd_pn").val();
                    var dieta = $("#DniTygodnia_0__dieta_pn").val();
                    $(".od_pn").each(function()
                    {
                        $(this).val(od);
                    });
                    $(".do_pn").each(function()
                    {
                        $(this).val(to);
                    });
                    $(".doj_pn").each(function()
                    {
                        $(this).val(dojazd);
                    });
                    $(".prz_pn").each(function()
                    {
                        $(this).val(przestoje);
                    });
                    $(".die_pn").each(function()
                    {
                        $(this).val(dieta);
                    });
                    break;
                case 2:
                    var od = $("#DniTygodnia_0__od_wt").val();
                    var to = $("#DniTygodnia_0__do_wt").val();
                    var przestoje = $("#DniTygodnia_0__przestoje_wt").val();
                    var dojazd = $("#DniTygodnia_0__dojazd_wt").val();
                    var dieta = $("#DniTygodnia_0__dieta_wt").val();
                    $(".od_wt").each(function()
                    {
                        $(this).val(od);
                    });
                    $(".do_wt").each(function()
                    {
                        $(this).val(to);
                    });
                    $(".doj_wt").each(function()
                    {
                        $(this).val(dojazd);
                    });
                    $(".prz_wt").each(function()
                    {
                        $(this).val(przestoje);
                    });
                    $(".die_wt").each(function()
                    {
                        $(this).val(dieta);
                    });
                    break;
                case 3:
                    var od = $("#DniTygodnia_0__od_sr").val();
                    var to = $("#DniTygodnia_0__do_sr").val();
                    var przestoje = $("#DniTygodnia_0__przestoje_sr").val();
                    var dojazd = $("#DniTygodnia_0__dojazd_sr").val();
                    var dieta = $("#DniTygodnia_0__dieta_sr").val();
                    $(".od_sr").each(function()
                    {
                        $(this).val(od);
                    });
                    $(".do_sr").each(function()
                    {
                        $(this).val(to);
                    });
                    $(".doj_sr").each(function()
                    {
                        $(this).val(dojazd);
                    });
                    $(".prz_sr").each(function()
                    {
                        $(this).val(przestoje);
                    });
                    $(".die_sr").each(function()
                    {
                        $(this).val(dieta);
                    });
                    break;
                case 4:
                    var od = $("#DniTygodnia_0__od_cz").val();
                    var to = $("#DniTygodnia_0__do_cz").val();
                    var przestoje = $("#DniTygodnia_0__przestoje_cz").val();
                    var dojazd = $("#DniTygodnia_0__dojazd_cz").val();
                    var dieta = $("#DniTygodnia_0__dieta_cz").val();
                    $(".od_cz").each(function()
                    {
                        $(this).val(od);
                    });
                    $(".do_cz").each(function()
                    {
                        $(this).val(to);
                    });
                    $(".doj_cz").each(function()
                    {
                        $(this).val(dojazd);
                    });
                    $(".prz_cz").each(function()
                    {
                        $(this).val(przestoje);
                    });
                    $(".die_cz").each(function()
                    {
                        $(this).val(dieta);
                    });
                    break;
                case 5:
                    var od = $("#DniTygodnia_0__od_pi").val();
                    var to = $("#DniTygodnia_0__do_pi").val();
                    var przestoje = $("#DniTygodnia_0__przestoje_pi").val();
                    var dojazd = $("#DniTygodnia_0__dojazd_pi").val();
                    var dieta = $("#DniTygodnia_0__dieta_pi").val();
                    $(".od_pi").each(function()
                    {
                        $(this).val(od);
                    });
                    $(".do_pi").each(function()
                    {
                        $(this).val(to);
                    });
                    $(".doj_pi").each(function()
                    {
                        $(this).val(dojazd);
                    });
                    $(".prz_pi").each(function()
                    {
                        $(this).val(przestoje);
                    });
                    $(".die_pi").each(function()
                    {
                        $(this).val(dieta);
                    });
                    break;
                case 6:
                    var od = $("#DniTygodnia_0__od_so").val();
                    var to = $("#DniTygodnia_0__do_so").val();
                    var przestoje = $("#DniTygodnia_0__przestoje_so").val();
                    var dojazd = $("#DniTygodnia_0__dojazd_so").val();
                    var dieta = $("#DniTygodnia_0__dieta_so").val();
                    $(".od_so").each(function()
                    {
                        $(this).val(od);
                    });
                    $(".do_so").each(function()
                    {
                        $(this).val(to);
                    });
                    $(".doj_so").each(function()
                    {
                        $(this).val(dojazd);
                    });
                    $(".prz_so").each(function()
                    {
                        $(this).val(przestoje);
                    });
                    $(".die_so").each(function()
                    {
                        $(this).val(dieta);
                    });
                    break;
                default:
                    var od = $("#DniTygodnia_0__od_ni").val();
                    var to = $("#DniTygodnia_0__do_ni").val();
                    var przestoje = $("#DniTygodnia_0__przestoje_ni").val();
                    var dojazd = $("#DniTygodnia_0__dojazd_ni").val();
                    var dieta = $("#DniTygodnia_0__dieta_ni").val();
                    $(".od_ni").each(function()
                    {
                        $(this).val(od);
                    });
                    $(".do_ni").each(function()
                    {
                        $(this).val(to);
                    });
                    $(".doj_ni").each(function()
                    {
                        $(this).val(dojazd);
                    });
                    $(".prz_ni").each(function()
                    {
                        $(this).val(przestoje);
                    });
                    $(".die_ni").each(function()
                    {
                        $(this).val(dieta);
                    });
                    break;

            }
        }

        function ClearSignatures()
        {
            $("canvas").each(function() {
                var canvas = $(this);
                var ctx = canvas.get(0).getContext('2d');
                ctx.clearRect(0, 0, canvas.get(0).width, canvas.get(0).height);
            });
         }

        function Blokuj(v, i, c) {
            var cl = ".Pracownik" + i;
            if (c) {
                cl += "." + c;
            }
            $(cl).each(function () {
                if (v != "brak") {
                    if (c) {
                        $(this).attr("readonly", "true");
                    }
                    $(this).addClass("disabled");
                 }
                 else {
                    $(this).attr("readonly", "false");
                    $(this).removeClass("disabled");
                }
            });
            var clTime = ".PracownikTime" + i;
            if (c) {
                clTime += "." + c;
            }
            $(clTime).each(function () {
                if (v != "brak" && !c) {
                    $(this).attr("style", "display:none;");
                }
                else {
                    $(this).removeAttr("style", "display:none;");
                }
            });
        }

        $(function() {
            $('.time-picker').datetimepicker({
                format: 'HH.mm',
                ignoreReadonly: true,
                stepping: 15
            })
        });

        document.querySelector('input[list]').addEventListener('input', function(e) {
            var input = e.target,
                list = input.getAttribute('list'),
                options = document.querySelectorAll('#' + list + ' option'),
                hiddenInput = document.getElementById(input.id + '-hidden'),
                inputValue = input.value;

            hiddenInput.value = inputValue;

            for (var i = 0; i < options.length; i++)
            {
                var option = options[i];

                var number1 = option.innerText[0] + option.innerText[1] + option.innerText[2] + option.innerText[3] + option.innerText[4] + option.innerText[5];
                var number2 = inputValue[0] + inputValue[1] + inputValue[2] + inputValue[3] + inputValue[4] + inputValue[5];

                if (number1 === number2)
                {
                    hiddenInput.value = option.getAttribute('data-value');
                    break;
                }
            }
        });
            </script>
        }
    }

    if (!string.IsNullOrEmpty(message))
    {
        <script>
            $(document).ready(function () {
                var x = document.getElementById("snackbar");
                x.className = "show";
                // After 3 seconds, remove the show class from DIV
                setTimeout(function () { x.className = x.className.replace("show", ""); }, 10000);
            });
            HoldOn.close();
        </script>
    }
    else
    {
        <script>
            HoldOn.close();
        </script>
    }
}
