﻿@using dekadowki.poburski.pl.Models
@{
    ViewBag.Title = "Dekadówki miesiąc";
    Layout = "~/Views/Shared/_LayoutFull.cshtml";
    var lista = (List<DekadowkiMiesiacDlaPracownika>)ViewBag.Lista;
    string pracownik = ViewBag.Pracownik;
    int rok = Convert.ToInt32(ViewBag.Rok);
    int miesiac = Convert.ToInt32(ViewBag.Miesiac);
    int idpracownika = Convert.ToInt32(ViewBag.Idp);
    int idbrygadzisty = Convert.ToInt32(ViewBag.Idb);
    var color = "#E5E5E5";

    float podsumowanieDojazd = 0;
    decimal podsumowanieParagony = 0;
    decimal podsumowanieRozliczenieParagony = 0;
    float podsumowaniePrzestoje = 0;
    float podsumowanieDieta = 0;
    float podsumowanieGodziny100 = 0;
    float podsumowanieGodziny150 = 0;
    float podsumowanieGodziny200 = 0;
    float podsumowanieGodzinyNocne = 0;

    List<int> zablokowaneDni = new List<int>();
    bool rysuj = false;

    var nocneStr = "";
    var g100Str = "";
    var g150Str = "";
    var g200Str = "";
    var paragonyStr = "";
    bool admin = Help.SprawdzCzyAdmin(User.Identity.Name);
}

<style>
    #iframe {
        width: 100%;
        height: 900px;
    }
</style>

Pracownik:
@{
    List<Brygada> brygada = null;
    if (!admin)
    {
        brygada = Help.GetBrygada(idbrygadzisty, false);
    }
    else
    {
        brygada = Help.GetBrygada(idbrygadzisty, true);
    }
}
<select onchange="Show()" name="idp" class="form-control" id="idp">
    @*<option value="@idbrygadzisty">@Help.GetNameAndSurname(idbrygadzisty)</option>*@
    @foreach (var p in brygada)
    {
        <option value="@p.Id">@p.Nazwa</option>
    }
</select>
Miesiąc:
<select onchange="Show()" name="miesiac" class="form-control" id="miesiac">
    <option value="1">Styczeń</option>
    <option value="2">Luty</option>
    <option value="3">Marzec</option>
    <option value="4">Kwiecień</option>
    <option value="5">Maj</option>
    <option value="6">Czerwiec</option>
    <option value="7">Lipiec</option>
    <option value="8">Sierpień</option>
    <option value="9">Wrzesień</option>
    <option value="10">Październik</option>
    <option value="11">Listopad</option>
    <option value="12">Grudzień</option>
</select>
Rok:
<select onchange="Show()" name="rok" class="form-control" id="rok">
    @for (int r = 2021; r <= DateTime.Now.Year; r++)
    {
        <option value="@r">@r</option>
    }
</select>
<p style="float: right;">@Help.GetGodzinyNocneTekst(lista[0].Data)</p>
<br />
<br />

<table border="1">
    <tr>
        <td style="width: 50%;">
            <div id="tabShowMonth">

                <table border="1" style="width: 100%;">
                    <tr>
                        <td align="center"><b>Dzień</b></td>
                        <td align="center"><b>Dzień tygodnia</b></td>
                        <td align="center"><b>Projekt</b></td>
                        <td align="center"><b>Rodzaj godziny</b></td>
                        <td align="center"><b>Od</b></td>
                        <td align="center"><b>Do</b></td>
                        <td align="center"><b>Dojazd</b></td>
                        <td align="center"><b>Przestoje</b></td>
                        <td align="center"><b>Dieta</b></td>
                        <td align="center"><b>Godziny 100%</b></td>
                        <td align="center"><b>Godziny 150%</b></td>
                        <td align="center"><b>Godziny 200%</b></td>
                        <td align="center"><b>Godziny nocne</b></td>
                        <td align="center"><b>Paragony</b></td>
                        <td align="center"><b>Rozl. par.</b></td>
                        <td align="center"><b>Akcje</b></td>
                    </tr>
                    @foreach (var l in lista)
                    {
                        if (DateTime.Parse(l.Data).Month == miesiac)
                        {
                            var wszystkieGodziny = Help.GetGodzinyNaDzienLista(l.DzienTygodniaInt, idpracownika, miesiac, rok, l.RokTydzien, l.Data);
                            var godziny = wszystkieGodziny.Where(g => g.Od.Replace(" ", "") != "00.00" || g.Do.Replace(" ", "") != "00.00").ToList();

                            //rodzaj inny niż brak
                            if (godziny.Count == 0)
                            {
                                godziny = wszystkieGodziny.Where(g => g.Rodzaj != "brak").ToList();
                            }

                            var rowspan = godziny.Count == 0 ? 1 : godziny.Count + 1;

                            if (l.Data == "12-11-2021")
                            {
                                var g1 = Help.GetGodzinyNaDzienLista(l.DzienTygodniaInt, idpracownika, miesiac, rok, l.RokTydzien, l.Data).ToList();
                                var x = g1.Where(g => g.Od.Replace(" ", "") != "00.00" || g.Do.Replace(" ", "") != "00.00").ToList();
                                var x1 = g1.Where(g => g.Rodzaj != "brak").ToList();
                            }

                            if (l.DzienTygodniaInt == 6 || l.DzienTygodniaInt == 0)
                            {
                                color = "#EC7063";
                            }
                            else if (Help.CzySwieto(l.Data))
                            {
                                color = "#E3CDED";
                            }

                            <tr title="@l.Data" style="background-color: @color">
                                <td rowspan="@rowspan" align="center">@l.Dzien</td>
                                <td rowspan="@rowspan" align="center">@l.DzienTygodnia</td>

                                @if (godziny.Count == 0)
                                {
                                    if (l.DzienTygodniaInt == 6 || l.DzienTygodniaInt == 0)
                                    {
                                        <td colspan="13" align="center">WEEKEND</td>
                                        <td align="center" valign="middle" style="padding:1px;">
                                            @*<a href="@Url.Action("Index", "Dashboard", new { id = 0, idpracownika = idpracownika, dzien = l.Data })" title="Edycja" class="btn btn-info btn-sm" style="padding: 1px 3px;"><i class="fas fa-plus"></i></a>*@
                                            <button onclick="$('#iframe').attr('src', '/Dashboard/Index?id=0&idpracownika=@idpracownika&dzien=@l.Data&tabela=1'); $('#tabTDEditGodziny').show();" title="Edycja" class="btn btn-sm btn-info" style="padding: 1px 3px;"><i class="fas fa-plus"></i></button>
                                        </td>
                                    }
                                    else if (Help.CzySwieto(l.Data))
                                    {
                                        <td colspan="13" align="center"><B>@Help.GetSwieto(l.Data).opisSwieto</B></td>
                                        <td align="center" valign="middle" style="padding:1px;">
                                            @*<a href="@Url.Action("Index", "Dashboard", new { id = 0, idpracownika = idpracownika, dzien = l.Data })" title="Edycja" class="btn btn-info btn-sm" style="padding: 1px 3px;"><i class="fas fa-plus"></i></a>*@
                                            <button onclick="$('#iframe').attr('src','/Dashboard/Index?id=0&idpracownika=@idpracownika&dzien=@l.Data&tabela=1'); $('#tabTDEditGodziny').show();" title="Edycja" class="btn btn-sm btn-info" style="padding: 1px 3px;"><i class="fas fa-plus"></i></button>
                                        </td>
                                    }
                                    else
                                    {
                                        <td colspan="13" align="left">BRAK GODZIN</td>
                                        <td align="center" valign="middle" style="padding:1px;">
                                            @*<a href="@Url.Action("Index", "Dashboard", new { id = 0, idpracownika = idpracownika, dzien = l.Data })" title="Edycja" class="btn btn-info btn-sm" style="padding: 1px 3px;"><i class="fas fa-plus"></i></a>*@
                                            <button onclick="$('#iframe').attr('src','/Dashboard/Index?id=0&idpracownika=@idpracownika&dzien=@l.Data&tabela=1'); $('#tabTDEditGodziny').show();" title="Edycja" class="btn btn-sm btn-info" style="padding: 1px 3px;"><i class="fas fa-plus"></i></button>
                                        </td>
                                    }
                                }
                            </tr>
                            foreach (var g in godziny.OrderBy(godz => godz.Dzien).ThenBy(godz => godz.Od).ToList())
                            {
                                var godziny100 = g.Godziny100;
                                var godziny150 = g.Godziny150;
                                double nadgodzinyz100 = 0;
                                var godziny200 = g.Godziny200;
                                var dojazd = g.Dojazd;
                                var godziny_nocne = g.GodzinyNocne;
                                var dieta = g.Dieta;
                                var przestoje = g.Przestoje;
                                var paragony = g.Paragony;
                                double rozliczenie_paragonow = 0;
                                if (zablokowaneDni.Where(z => z == g.Dzien).Any())
                                {
                                    rozliczenie_paragonow = 0;
                                }
                                else
                                {
                                    rozliczenie_paragonow = Help.RozliczenieParagonow(dieta, godziny100, godziny150, godziny200, paragony, g.NazwaProjektu);
                                }
                                var rowspanDzien = 1;

                                try
                                {
                                    if (godziny.Where(godz => godz.Dzien == g.Dzien).ToList().Count > 1 && !zablokowaneDni.Where(z => z == g.Dzien).Any())
                                    {
                                        rysuj = true;
                                        rowspanDzien = godziny.Where(godz => godz.Dzien == g.Dzien).ToList().Count;

                                        var godzinyBiezace = godziny.Where(godz => godz.Dzien == g.Dzien).ToList();
                                        godziny100 = godzinyBiezace.Sum(godz => Convert.ToDouble(godz.Godziny100)) > 8 ? "8" : godzinyBiezace.Sum(godz => Convert.ToDouble(godz.Godziny100)).ToString();
                                        nadgodzinyz100 = godzinyBiezace.Sum(godz => Convert.ToDouble(godz.Godziny100)) > 8 ? godzinyBiezace.Sum(godz => Convert.ToDouble(godz.Godziny100)) - 8 : 0;
                                        if (l.DzienTygodniaInt != 6 && l.DzienTygodniaInt != 0)
                                        {
                                            godziny150 = (godzinyBiezace.Sum(godz => Convert.ToDouble(godz.Godziny150)) + nadgodzinyz100).ToString();
                                        }
                                        else
                                        {
                                            godziny150 = (godzinyBiezace.Sum(godz => Convert.ToDouble(godz.Godziny150))).ToString();
                                        }
                                        if (l.DzienTygodniaInt == 6 || l.DzienTygodniaInt == 0)
                                        {
                                            godziny200 = (godzinyBiezace.Sum(godz => Convert.ToDouble(godz.Godziny200)) + nadgodzinyz100).ToString();
                                        }
                                        else
                                        {
                                            godziny200 = godzinyBiezace.Sum(godz => Convert.ToDouble(godz.Godziny200)).ToString();
                                        }
                                        dojazd = godzinyBiezace.Sum(godz => Convert.ToDouble(godz.Dojazd)).ToString();
                                        godziny_nocne = godzinyBiezace.Sum(godz => Convert.ToDouble(godz.GodzinyNocne)).ToString();
                                        dieta = godzinyBiezace.Where(gb => gb.Dieta != "-").Any() ? godzinyBiezace.Where(gb => gb.Dieta != "-").First().Dieta : "-";
                                        przestoje = godzinyBiezace.Sum(godz => Convert.ToDouble(godz.Przestoje)).ToString();
                                        paragony = godzinyBiezace.Sum(godz => Convert.ToDouble(godz.Paragony)).ToString();
                                        if (zablokowaneDni.Where(z => z == g.Dzien).Any())
                                        {
                                            rozliczenie_paragonow = 0;
                                        }
                                        else
                                        {
                                            rozliczenie_paragonow = Help.RozliczenieParagonow(dieta, godziny100, godziny150, godziny200, paragony, g.NazwaProjektu);
                                        }

                                        zablokowaneDni.Add(g.Dzien);
                                    }
                                    else if (!zablokowaneDni.Where(z => z == g.Dzien).Any())
                                    {
                                        rysuj = true;
                                    }
                                    else if (godziny.Where(godz => godz.Dzien == g.Dzien).ToList().Count == 1)
                                    {
                                        rysuj = true;
                                    }
                                    else
                                    {
                                        godziny100 = "0";
                                        godziny150 = "0";
                                        godziny200 = "0";
                                        dojazd = "0";
                                        przestoje = "0";
                                        godziny_nocne = "0";
                                        rysuj = false;
                                        paragony = "0";
                                    }
                                }
                                catch (Exception)
                                {

                                }

                                podsumowanieDojazd += float.Parse(dojazd);
                                podsumowaniePrzestoje += float.Parse(przestoje);
                                podsumowanieDieta += Help.GetDietaInt(g.Dieta);
                                podsumowanieGodziny100 += float.Parse(godziny100);
                                g100Str += string.Format("{0}+", godziny100);
                                podsumowanieGodziny150 += float.Parse(godziny150);
                                g150Str += string.Format("{0}+", godziny150);
                                podsumowanieGodziny200 += float.Parse(godziny200);
                                g200Str += string.Format("{0}+", godziny200);
                                podsumowanieGodzinyNocne += float.Parse(godziny_nocne);
                                nocneStr += string.Format("{0}+", godziny_nocne);
                                podsumowanieParagony += Convert.ToDecimal(string.IsNullOrEmpty(paragony) ? "0" : paragony);
                                podsumowanieRozliczenieParagony += Convert.ToDecimal(rozliczenie_paragonow);
                                paragonyStr += string.Format("{0}+", rozliczenie_paragonow);

                                <tr style="background-color: @color">
                                    <td align="center">@g.NazwaProjektu</td>
                                    <td align="center">@Help.GetRodzajGodziny(g.Rodzaj)</td>
                                    <td align="center">@g.Od</td>
                                    <td align="center">@g.Do</td>
                                    @if (rysuj)
                                    {
                                        <td align="center" rowspan="@rowspanDzien">@dojazd</td>
                                        <td align="center" rowspan="@rowspanDzien">@przestoje</td>
                                        <td align="center" rowspan="@rowspanDzien">@dieta</td>
                                        <td align="center" rowspan="@rowspanDzien">@godziny100</td>
                                        <td align="center" rowspan="@rowspanDzien">@godziny150</td>
                                        <td align="center" rowspan="@rowspanDzien">@godziny200</td>
                                        <td align="center" rowspan="@rowspanDzien">@godziny_nocne</td>
                                        <td align="center" rowspan="@rowspanDzien">@paragony</td>
                                        <td align="center" rowspan="@rowspanDzien">@rozliczenie_paragonow</td>
                                    }
                                    <td align="center" valign="middle" style="padding:1px;">
                                        <a href="@Url.Action("DeleteGodzinyMonth", "Home", new { id = g.Id, idpracownika = idpracownika, dzien_tygodnia = l.DzienTygodniaInt, data = Convert.ToDateTime(l.Data) })" title="Usuń" class="btn btn-danger btn-sm" style="padding: 1px 3px;"><i class="fas fa-trash-alt"></i></a>
                                        @*<a href="@Url.Action("EditGodziny", "Home", new { id = g.Id, idpracownika = idpracownika, dzien_tygodnia = l.DzienTygodniaInt })" title="Edycja" class="btn btn-success btn-sm" style="padding: 1px 3px;"><i class="fas fa-edit"></i></a>*@
                                        <button onclick="$('#iframe').attr('src', '/Home/EditGodziny?id=@g.Id&idpracownika=@idpracownika&dzien=@l.Data&tabela=1'); $('#tabTDEditGodziny').show(); document.getElementsByClassName('navbar')[0].scrollIntoView();" title="Edycja" class="btn btn-sm btn-success" style="padding: 1px 3px;"><i class="fas fa-edit"></i></button>
                                    </td>
                                </tr>
                            }
                        }
                        if (color == "#E5E5E5")
                        {
                            color = "white";
                        }
                        else
                        {
                            color = "#E5E5E5";
                        }
                    }
                    <tr>
                        <td colspan="6" align="center"><b>Podsumowanie</b></td>
                        <td align="center"><b>@podsumowanieDojazd</b></td>
                        <td align="center"><b>@podsumowaniePrzestoje</b></td>
                        <td align="center"><b>@podsumowanieDieta</b></td>
                        <td align="center" title="@g100Str.TrimEnd('+')"><b>@podsumowanieGodziny100</b></td>
                        <td align="center" title="@g150Str.TrimEnd('+')"><b>@podsumowanieGodziny150</b></td>
                        <td align="center" title="@g200Str.TrimEnd('+')"><b>@podsumowanieGodziny200</b></td>
                        <td align="center" title="@nocneStr.TrimEnd('+')">
                            <b>@podsumowanieGodzinyNocne</b>
                        </td>
                        <td align="center" title="@podsumowanieParagony.ToString().TrimEnd('+')"><b>@podsumowanieParagony</b></td>
                        <td align="center" title="@paragonyStr.ToString().TrimEnd('+')"><b>@podsumowanieRozliczenieParagony</b></td>
                    </tr>
                </table>
            </div>
        </td>
        <td valign="top" id="tabTDEditGodziny" style="display:none;">
            <button type="button" class="btn btn-danger" onclick="$('#tabTDEditGodziny').hide(); $('#tabEditGodziny').empty(); $('#tabEditGodziny').append('<iframe src=\'\' id=\'iframe\'></iframe>');">X</button>
            <div id="tabEditGodziny"><iframe src="" id="iframe"></iframe></div>
        </td>
    </tr>
</table>

<script>
    $("#idp").val("@idpracownika");
    $("#rok").val("@rok");
    $("#miesiac").val("@miesiac");

    function Show() {
        window.location.href = 'ShowMonth?idp=' + $("#idp").val() + "&m=" + $("#miesiac").val() + "&r=" + $("#rok").val()
    }
</script>

@if (Session["Link"] != null)
{
    var link = Session["Link"].ToString();
    <script>
        $('#iframe').attr('src', '@Html.Raw(link)'); $('#tabTDEditGodziny').show();
    </script>
    Session["Link"] = null;
}