﻿@using dekadowki.poburski.pl.Models
@{
    ViewBag.Title = "Dekadówki";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var color = ViewBag.Color.ToString();
    var message = ViewBag.Message.ToString();
    var success = ViewBag.Success.ToString();
    var godziny = (List<AspNetGodziny>)ViewBag.Godziny;
    var listaDistinct = new List<AspNetGodziny>();
}

<h2 style="color: @color">@message</h2>
<a href="/Export/Index/-1?tydzien=a&budowa=-1">Wróć do eksportu</a>

@if (success == "1")
{
    <table class="w100">
        @foreach (var godzina in godziny)
        {
            if (!listaDistinct.Any(l => l.budowaID == godzina.budowaID && l.rokTydzien == godzina.rokTydzien && l.pracownikID == godzina.pracownikID))
            {
                listaDistinct.Add(godzina);
                <tr>
                    <td>@Help.GetNameAndSurname(godzina.pracownikID)</td>
                    <td>@Help.GetNazwaBudowy(godzina.budowaID, true)</td>
                    <td><a href="@string.Format("http://int.wizualizacja.local/aplikacje/06/001/dekadowka_proj.asp?idproj={0}&rokTydzien={1}&idprac={2}", godzina.budowaID, godzina.rokTydzien, godzina.pracownikID)" target="_blank" class="btn btn-primary">Do intranetu</a></td>
                </tr>
            }
        }
    </table>
}

