﻿@model RegisterViewModel
@using dekadowki.poburski.pl.Models
@{
    ViewBag.Title = "Rejestracja";

    var pracownicy = Help.GetBrygadzistow(false);
    bool admin = Help.SprawdzCzyAdmin(User.Identity.Name);
}

<h2>@ViewBag.Title</h2>

@if (admin)
{
    using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Stwórz nowe konto</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label for="idpracownika" class="col-md-2 control-label">Brygadzista:</label>
            <div class="col-md-10">
                <select name="idpracownika" id="idpracownika" required class="form-control">
                    @foreach (var pracownik in pracownicy)
                    {
                        <option value="@pracownik.GetId()">@pracownik.GetName()</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Zarejestruj" />
            </div>
        </div>
    }
}
else
{
    <h3>Usługa niedostępna dla Ciebie :(</h3>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
